h1 {
    border: 2px #eee solid;
    text-align: center !important;
    padding: 10px
}

.post-content {
    white-space: pre-wrap; /* This preservers line breaks */
    word-wrap: break-word;
    line-height: 1.6; /*Better spacing betwwen lines*/
}
