{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1 class="text-center">{% block title %}Welcome to Mark's Blog{% endblock %}</h1>
        <br>
        {% for post in posts%}
            <a href="{{ url_for('post', post_id=post['id']) }}">
                <h2>{{ post['title'] }}</h2>
            </a>
            <span class="badge badge-primary">{{ post['created'] }}</span>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('edit', id=post['id']) }}">
                <span class="badge badge-warning">Edit</span>
            </a>   
            {% endif%}
            <hr>
        {% endfor %}
    </div>   

<!-- Simple About Me Sidebar -->
    <div class="col-md-4">
        <div class="bg-light p-4 rounded mt-4">
            <h5>About Me</h5>
            <p>Hello, My name is  Mark. I am a student at Holberton Coding School and am interested in DevOps.</p>
	    <br>
	    <p>This blog is my personal space to document my journey, projects, experiments, successes and lessons learned as I build my portfolio and level up my skills. My goal is to share what I am learning in a practical, real world context and maybe help others who are on a similar path.</p>
	    <br>
            <p>Thank you for visiting! I hope you find something interesting here.</p>
        </div>
    </div>
</div>
{% endblock %}
